section.explore {
    width: 100%;
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 0 60px 0;

    h2 {
        margin-top: 20px;
    }

    button {
        margin-top: 30px;
    }
}

section.fonctionnement {
    margin:40px 25px;

    h1 {
        margin-bottom: 30px;
    }

    div.howto {
        width: 100%;
        background-color: rgb(246, 246, 246);
        margin-top:20px;
        border-radius: 20px;
        display: flex;
        padding: 30px 40px;
        align-items: center;
        position: relative;
        transition: .2s;
        box-shadow: 0px 5px 10px 0px darken($color: $gray, $amount:5%);

        div.puce {
            position: absolute;
            left:-10px;
            background-color: $primary;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            text-align: center;
            padding-top: 4px;
            color: white;
        }

        i {
            font-size: 20px;
            transition: .2s;
        }

        p {
            margin-left: 20px;
            font-size: 20px;
            font-weight: 600;
        }

        &:hover {
            background-color: lighten($color: $primary, $amount: 36%);

            i {
                color:$primary;
            }
        }
    }
}

section.restaurants {
    margin-top:60px;
    background-color: rgb(246, 246, 246);
    padding: 60px 25px;
    
    div.card_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    a {
        width: 100%;
        margin-top: 30px;
        display: block;
    }

    article.card {
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 5px 10px 0px darken($color: $gray, $amount:5%);
        transition: .2s;
        position: relative;

        img {
            object-fit: cover;
            width:100%;
            height: 200px;
        }

        div.bottom {
            background-color: white;
            display: flex;
            justify-content: space-between;
            padding: 15px 20px;
        }

        div.left {
            p:first-child {
                font-size: 20px;
                font-weight: 800;
            }
            p:last-child {
                margin-top: 5px;
                font-size: 18px;
            }
        }

        &:hover {
            box-shadow: 0px 10px 10px 0px darken($color: $gray, $amount:15%);
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        a {
            width:calc(50% - 25px);
        }
    }
    @media screen and (min-width: $breakpoint-lg) {
        a {
            width:calc(25% - 25px);
        }
    }
}